/* Base and layout styles */
body {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    align-items: start;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

ul.menu li {
    margin: 0;
}

ul.menu a {
    color: green;
    text-decoration: none;
}

ul.menu a:hover {
    text-decoration: underline;
}

.content {
    flex: 1; /* Takes up all available space pushing footer to the bottom */
    display: flex;
}

.text-section {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 50px; /* This provides space from the top of the page */
}

.clear {
    clear: both; /* This clears the float, making the following content appear below */
}

/* Styling the terminal container */
#terminal {
    border: 2px solid #0F0; /* Green border for the box */
    padding: 0; /* Remove extra padding */
    max-width: 640px; /* Match the video width */
    margin: auto; /* Center the terminal box horizontally */
    text-align: center; /* Center align the content */
    display: flex;
    flex-direction: column; /* Stack video and button */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full viewport height */
    box-sizing: border-box; /* Includes padding in the dimensions */
}

/* Styling the video */
video {
    width: 100%; /* Match the terminal box width */
    height: auto; /* Maintain the aspect ratio */
    margin: 0; /* Remove any extra margin */
}

/* Styling the button */
button {
    margin-top: 10px; /* Space between video and button */
    background-color: #0F0; /* Green background */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00A000; /* Darker green on hover */
}


footer {
    background-color: #1a1a1a; /* Darker color for distinction */
    color: green; /* Ensuring the text is visible against the darker footer */
    text-align: left;
    padding: 10px 0;
}
