body {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

h1 {
    margin: 0;
}

h1 a {
    color: green;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

ul.menu li {
    margin: 0;
}

ul.menu a {
    color: green;
    text-decoration: none;
}

ul.menu a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex: 1;
}

.text-section {
    width: 80%;
    flex-grow: 1;
    padding-right: 1rem;
}

.bandcamp-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust spacing between items */
    justify-items: center; /* Center the iframes */
}

.bandcamp-grid iframe {
    max-width: 100%; /* Ensure responsiveness */
}


footer {
    text-align: left;
    padding: 1rem 0;
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

/* Mobile adjustments */
@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: start;
        justify-content: normal;
    }

    ul.menu {
        margin-top: 1rem;
    }
}
